# Prerequisites
*.d

# Compiled Object files
**nachos 
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
code/filesys/nachos
code/filesys/nachos
code/network/nachos
code/threads/nachos
code/userprog/nachos
code/vm/nachos
